<!DOCTYPE <!DOCTYPE html>
<html ng-app="Verbatime">

<head>
	<title>Verbatim(e)</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="ClockController as clock">
<div>{{clock.time}}</div>
<label>
	<input type="radio" name="radio" ng-model="clock.mil" ng-value="false">
	12 hour
</label><br/>
<label>
	<input type="radio" name="radio" ng-model="clock.mil" ng-value="true">
	24 hour
</label><br/>
</body>

</html>